#container {
    text-align: center;
    margin-top: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  img{
    margin-top: 70px;
      
  }
  ion-button{
      margin-bottom: 20px;
      width: 30%;
  }
  h4{
      margin-bottom: 30px;
      font-size: 30px;
  }