

#container {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
input{
 margin-bottom: 40px;
 margin-left: 30px;
}
img{
  margin-top: 70px;
    margin-bottom: 30px;
}
.ion-color-light{
  margin-right: 30px;
}
input#login{
  margin-left: 75px;
}
.error{color: #b45b59;background: #f2dede;padding: 5px;border-radius: 0 0 5px 5px;}
